<style>
    .list__main {
        width: calc(100% - 364px);
        margin: 0 auto;
    }

    .box-stream[data-layout="2"] .box-stream-item {
        display: flex;
        padding: 28px 0;
        border-bottom: 1px solid #e6e6e6;
    }

        .box-stream[data-layout="2"] .box-stream-item .box-stream-content .box-stream-link-title {
            font-family: Merriweather;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            color: #1b1d2d;
            display: block;
            margin-bottom: 8px;
        }

        .box-stream[data-layout="2"] .box-stream-item .box-stream-content .box-stream-sapo {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #555;
            margin-top: 8px;
        }

    .box-stream-avatar {
        margin-right: 10px;
    }

    .section-title {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

        /* Định dạng cho các thẻ span và em */
        .section-title span {
            color: #3f51b5;
        }

        .section-title em {
            font-size: 16px;
            color: #555;
            margin-left: 10px;
        }
</style>


<div class="list__main">
    <div class="list__lflex">
        <div class="section-title">
            <span>Tin Tức</span>
        </div>
        <div class="timeline">
            <div class="box-stream timeline_list" data-layout="2" data-key="keycd">
                <div class="box-stream-item" data-id="102240109111720556">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/tap-trung-ra-soat-sap-xep-don-vi-su-nghiep-xay-dung-bang-luong-moi-doi-voi-can-bo-cong-chuc-vien-chuc-y-te-102240109111720556.htm" title="T&#x1EAD;p trung r&#xE0; so&#xE1;t, s&#x1EAF;p x&#x1EBF;p &#x111;&#x1A1;n v&#x1ECB; s&#x1EF1; nghi&#x1EC7;p, x&#xE2;y d&#x1EF1;ng b&#x1EA3;ng l&#x1B0;&#x1A1;ng m&#x1EDB;i &#x111;&#x1ED1;i v&#x1EDB;i c&#xE1;n b&#x1ED9;, c&#xF4;ng ch&#x1EE9;c, vi&#xEA;n ch&#x1EE9;c y t&#x1EBF;" data-id="102240109111720556">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2024/1/9/91pttlmk1-1704772614679621740317-1704773501507-170477350204212011073-269-223-1209-1727-crop-1704773694966557602191.jpg" alt="T&#x1EAD;p trung r&#xE0; so&#xE1;t, s&#x1EAF;p x&#x1EBF;p &#x111;&#x1A1;n v&#x1ECB; s&#x1EF1; nghi&#x1EC7;p, x&#xE2;y d&#x1EF1;ng b&#x1EA3;ng l&#x1B0;&#x1A1;ng m&#x1EDB;i &#x111;&#x1ED1;i v&#x1EDB;i c&#xE1;n b&#x1ED9;, c&#xF4;ng ch&#x1EE9;c, vi&#xEA;n ch&#x1EE9;c y t&#x1EBF;" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102240109111720556" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/tap-trung-ra-soat-sap-xep-don-vi-su-nghiep-xay-dung-bang-luong-moi-doi-voi-can-bo-cong-chuc-vien-chuc-y-te-102240109111720556.htm" title="T&#x1EAD;p trung r&#xE0; so&#xE1;t, s&#x1EAF;p x&#x1EBF;p &#x111;&#x1A1;n v&#x1ECB; s&#x1EF1; nghi&#x1EC7;p, x&#xE2;y d&#x1EF1;ng b&#x1EA3;ng l&#x1B0;&#x1A1;ng m&#x1EDB;i &#x111;&#x1ED1;i v&#x1EDB;i c&#xE1;n b&#x1ED9;, c&#xF4;ng ch&#x1EE9;c, vi&#xEA;n ch&#x1EE9;c y t&#x1EBF;">T&#x1EAD;p trung r&#xE0; so&#xE1;t, s&#x1EAF;p x&#x1EBF;p &#x111;&#x1A1;n v&#x1ECB; s&#x1EF1; nghi&#x1EC7;p, x&#xE2;y d&#x1EF1;ng b&#x1EA3;ng l&#x1B0;&#x1A1;ng m&#x1EDB;i &#x111;&#x1ED1;i v&#x1EDB;i c&#xE1;n b&#x1ED9;, c&#xF4;ng ch&#x1EE9;c, vi&#xEA;n ch&#x1EE9;c y t&#x1EBF;</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/xa-hoi/y-te.htm" title="Y t&#x1EBF;">Y t&#x1EBF; </a>
                        <span class="time-ago box-stream-time" title="1/9/2024 11:16:00 AM">09/01/2024 11:16</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Ph&#xF3; Th&#x1EE7; t&#x1B0;&#x1EDB;ng L&#xEA; Minh Kh&#xE1;i &#x111;&#x1EC1; ngh&#x1ECB; B&#x1ED9; Y t&#x1EBF; t&#x1EAD;p trung tri&#x1EC3;n khai c&#xE1;c bi&#x1EC7;n ph&#xE1;p &#x111;&#x1ED5;i m&#x1EDB;i c&#x1A1; ch&#x1EBF; t&#xE0;i ch&#xED;nh y t&#x1EBF;; th&#x1EF1;c hi&#x1EC7;n l&#x1ED9; tr&#xEC;nh t&#xED;nh &#x111;&#xFA;ng, t&#xED;nh &#x111;&#x1EE7; gi&#xE1; d&#x1ECB;ch v&#x1EE5; y t&#x1EBF;; r&#xE0; so&#xE1;t, s&#x1EAF;p x&#x1EBF;p &#x111;&#x1A1;n v&#x1ECB; s&#x1EF1; nghi&#x1EC7;p y t&#x1EBF; c&#xF4;ng l&#x1EAD;p; nghi&#xEA;n c&#x1EE9;u, &#x111;&#x1EC1; xu&#x1EA5;t ch&#xED;nh s&#xE1;ch &#x111;&#xE3;i ng&#x1ED9; ph&#xF9; h&#x1EE3;p cho c&#xE1;n b&#x1ED9; y t&#x1EBF; trong t&#x1ED5;ng th&#x1EC3; c&#x1EA3;i c&#xE1;ch ti&#x1EC1;n l&#x1B0;&#x1A1;ng;&#x2026; ph&#x1EA5;n &#x111;&#x1EA5;u ho&#xE0;n th&#xE0;nh xu&#x1EA5;t s&#x1EAF;c nhi&#x1EC7;m v&#x1EE5; b&#x1EA3;o v&#x1EC7;, ch&#x103;m s&#xF3;c v&#xE0; n&#xE2;ng cao s&#x1EE9;c kh&#x1ECF;e c&#x1EE7;a nh&#xE2;n d&#xE2;n, g&#xF3;p ph&#x1EA7;n quan tr&#x1ECD;ng x&#xE2;y d&#x1EF1;ng &#x111;&#x1EA5;t n&#x1B0;&#x1EDB;c ph&#x1ED3;n vinh, th&#x1ECB;nh v&#x1B0;&#x1EE3;ng, nh&#xE2;n d&#xE2;n kh&#x1ECF;e m&#x1EA1;nh, &#x1EA5;m no, h&#x1EA1;nh ph&#xFA;c.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102231121152550826">
                    <a class="box-stream-link-with-avatar" href="https://media.chinhphu.vn/infographics-khung-gia-dich-vu-kham-benh-tang-tu-ngay-17-11-2023-102231121152550826.htm" title="Infographics: Khung gi&#xE1; d&#x1ECB;ch v&#x1EE5; kh&#xE1;m b&#x1EC7;nh t&#x103;ng t&#x1EEB; ng&#xE0;y 17/11/2023" data-id="102231121152550826">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/11/21/edit-don-gia-kham-benh-1711-1700554625583468491732-29-0-529-800-crop-1700554646592713947953.png" alt="Infographics: Khung gi&#xE1; d&#x1ECB;ch v&#x1EE5; kh&#xE1;m b&#x1EC7;nh t&#x103;ng t&#x1EEB; ng&#xE0;y 17/11/2023" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102231121152550826" class="box-stream-link-title" data-newstype="0" href="https://media.chinhphu.vn/infographics-khung-gia-dich-vu-kham-benh-tang-tu-ngay-17-11-2023-102231121152550826.htm" title="Infographics: Khung gi&#xE1; d&#x1ECB;ch v&#x1EE5; kh&#xE1;m b&#x1EC7;nh t&#x103;ng t&#x1EEB; ng&#xE0;y 17/11/2023">Infographics: Khung gi&#xE1; d&#x1ECB;ch v&#x1EE5; kh&#xE1;m b&#x1EC7;nh t&#x103;ng t&#x1EEB; ng&#xE0;y 17/11/2023</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/xa-hoi/y-te.htm" title="Y t&#x1EBF;">Y t&#x1EBF; </a>
                        <span class="time-ago box-stream-time" title="11/22/2023 3:57:00 PM">22/11/2023 15:57</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) -  Th&#xF4;ng t&#x1B0; 22/2023/TT-BYT c&#x1EE7;a B&#x1ED9; Y t&#x1EBF; ban h&#xE0;nh ng&#xE0;y 17/11/2023 quy &#x111;&#x1ECB;nh th&#x1ED1;ng nh&#x1EA5;t gi&#xE1; d&#x1ECB;ch v&#x1EE5; kh&#xE1;m b&#x1EC7;nh, ch&#x1EEF;a b&#x1EC7;nh BHYT gi&#x1EEF;a c&#xE1;c b&#x1EC7;nh vi&#x1EC7;n c&#xF9;ng h&#x1EA1;ng trong to&#xE0;n qu&#x1ED1;c v&#xE0; h&#x1B0;&#x1EDB;ng d&#x1EAB;n &#xE1;p d&#x1EE5;ng gi&#xE1;, thanh to&#xE1;n chi ph&#xED; kh&#xE1;m b&#x1EC7;nh, ch&#x1EEF;a b&#x1EC7;nh BHYT trong m&#x1ED9;t s&#x1ED1; tr&#x1B0;&#x1EDD;ng h&#x1EE3;p.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230824155930145">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/de-nghi-xay-dung-du-an-luat-phong-benh-102230824155930145.htm" title="&#x110;&#x1EC1; ngh&#x1ECB; x&#xE2;y d&#x1EF1;ng D&#x1EF1; &#xE1;n Lu&#x1EAD;t Ph&#xF2;ng b&#x1EC7;nh" data-id="102230824155930145">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/8/24/page-16928670774011783850529-0-0-253-404-crop-1692867157730228570376.jpg" alt="&#x110;&#x1EC1; ngh&#x1ECB; x&#xE2;y d&#x1EF1;ng D&#x1EF1; &#xE1;n Lu&#x1EAD;t Ph&#xF2;ng b&#x1EC7;nh" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230824155930145" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/de-nghi-xay-dung-du-an-luat-phong-benh-102230824155930145.htm" title="&#x110;&#x1EC1; ngh&#x1ECB; x&#xE2;y d&#x1EF1;ng D&#x1EF1; &#xE1;n Lu&#x1EAD;t Ph&#xF2;ng b&#x1EC7;nh">&#x110;&#x1EC1; ngh&#x1ECB; x&#xE2;y d&#x1EF1;ng D&#x1EF1; &#xE1;n Lu&#x1EAD;t Ph&#xF2;ng b&#x1EC7;nh</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chinh-sach-va-cuoc-song/tham-van-chinh-sach.htm" title="Tham v&#x1EA5;n ch&#xED;nh s&#xE1;ch">Tham v&#x1EA5;n ch&#xED;nh s&#xE1;ch </a>
                        <span class="time-ago box-stream-time" title="8/24/2023 5:32:00 PM">24/08/2023 17:32</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - B&#x1ED9; Y t&#x1EBF; &#x111;ang &#x111;&#x1EC1; ngh&#x1ECB; x&#xE2;y d&#x1EF1;ng D&#x1EF1; &#xE1;n Lu&#x1EAD;t Ph&#xF2;ng b&#x1EC7;nh nh&#x1EB1;m kh&#x1EAF;c ph&#x1EE5;c c&#xE1;c kho&#x1EA3;ng tr&#x1ED1;ng ph&#xE1;p lu&#x1EAD;t &#x111;&#x1EC3; t&#x1EA1;o h&#xE0;ng lang ph&#xE1;p l&#xFD; thu&#x1EAD;n l&#x1EE3;i cho c&#xE1;c ho&#x1EA1;t &#x111;&#x1ED9;ng d&#x1EF1; ph&#xF2;ng v&#xE0; n&#xE2;ng cao s&#x1EE9;c kh&#x1ECF;e.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230816154207023">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/quy-dinh-dang-ky-luu-hanh-thuoc-gia-cong-102230816154207023.htm" title="Quy &#x111;&#x1ECB;nh &#x111;&#x103;ng k&#xFD; l&#x1B0;u h&#xE0;nh thu&#x1ED1;c gia c&#xF4;ng" data-id="102230816154207023">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/8/16/thuoc-16921745904181739389676-0-4-373-601-crop-169217461692547507925.jpg" alt="Quy &#x111;&#x1ECB;nh &#x111;&#x103;ng k&#xFD; l&#x1B0;u h&#xE0;nh thu&#x1ED1;c gia c&#xF4;ng" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230816154207023" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/quy-dinh-dang-ky-luu-hanh-thuoc-gia-cong-102230816154207023.htm" title="Quy &#x111;&#x1ECB;nh &#x111;&#x103;ng k&#xFD; l&#x1B0;u h&#xE0;nh thu&#x1ED1;c gia c&#xF4;ng">Quy &#x111;&#x1ECB;nh &#x111;&#x103;ng k&#xFD; l&#x1B0;u h&#xE0;nh thu&#x1ED1;c gia c&#xF4;ng</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/quy-dinh-dang-ky-luu-hanh-thuoc-gia-cong-102230816154207023.htm" title="Ch&#xED;nh s&#xE1;ch m&#x1EDB;i">Ch&#xED;nh s&#xE1;ch m&#x1EDB;i </a>
                        <span class="time-ago box-stream-time" title="8/16/2023 5:00:00 PM">16/08/2023 17:00</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - B&#x1ED9; Y t&#x1EBF; &#x111;&#xE3; ban h&#xE0;nh Th&#xF4;ng t&#x1B0; 16/2023/TT-BYT quy &#x111;&#x1ECB;nh vi&#x1EC7;c &#x111;&#x103;ng k&#xFD; l&#x1B0;u h&#xE0;nh &#x111;&#x1ED1;i v&#x1EDB;i thu&#x1ED1;c gia c&#xF4;ng, thu&#x1ED1;c chuy&#x1EC3;n giao c&#xF4;ng ngh&#x1EC7; t&#x1EA1;i Vi&#x1EC7;t Nam.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230809120231232">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/bo-sung-pham-vi-hoat-dong-chuyen-mon-voi-bac-si-y-hoc-co-truyen-102230809120231232.htm" title="B&#x1ED5; sung ph&#x1EA1;m vi ho&#x1EA1;t &#x111;&#x1ED9;ng chuy&#xEA;n m&#xF4;n v&#x1EDB;i b&#xE1;c s&#x129; y h&#x1ECD;c c&#x1ED5; truy&#x1EC1;n" data-id="102230809120231232">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/8/9/bo-xung-1691557288175772306641-0-0-1250-2000-crop-1691557290773333987193.jpg" alt="B&#x1ED5; sung ph&#x1EA1;m vi ho&#x1EA1;t &#x111;&#x1ED9;ng chuy&#xEA;n m&#xF4;n v&#x1EDB;i b&#xE1;c s&#x129; y h&#x1ECD;c c&#x1ED5; truy&#x1EC1;n" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230809120231232" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/bo-sung-pham-vi-hoat-dong-chuyen-mon-voi-bac-si-y-hoc-co-truyen-102230809120231232.htm" title="B&#x1ED5; sung ph&#x1EA1;m vi ho&#x1EA1;t &#x111;&#x1ED9;ng chuy&#xEA;n m&#xF4;n v&#x1EDB;i b&#xE1;c s&#x129; y h&#x1ECD;c c&#x1ED5; truy&#x1EC1;n">B&#x1ED5; sung ph&#x1EA1;m vi ho&#x1EA1;t &#x111;&#x1ED9;ng chuy&#xEA;n m&#xF4;n v&#x1EDB;i b&#xE1;c s&#x129; y h&#x1ECD;c c&#x1ED5; truy&#x1EC1;n</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/tra-loi-cong-dan.htm" title="Tr&#x1EA3; l&#x1EDD;i c&#xF4;ng d&#xE2;n - doanh nghi&#x1EC7;p">Tr&#x1EA3; l&#x1EDD;i c&#xF4;ng d&#xE2;n - doanh nghi&#x1EC7;p </a>
                        <span class="time-ago box-stream-time" title="8/9/2023 4:02:00 PM">09/08/2023 16:02</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) &#x2013; &#xD4;ng Phan Tu&#x1EA5;n (L&#xE2;m &#x110;&#x1ED3;ng) t&#x1ED1;t nghi&#x1EC7;p b&#xE1;c s&#x129; y h&#x1ECD;c c&#x1ED5; truy&#x1EC1;n n&#x103;m 2011, th&#xE1;ng 10/2013 c&#xF3; ch&#x1EE9;ng ch&#x1EC9; h&#xE0;nh ngh&#x1EC1; y h&#x1ECD;c c&#x1ED5; truy&#x1EC1;n, n&#x103;m 2022 t&#x1ED1;t nghi&#x1EC7;p chuy&#xEA;n khoa c&#x1EA5;p 1 y h&#x1ECD;c gia &#x111;&#xEC;nh.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230720110854126">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/sang-kien-bac-si-cho-moi-nha-thuc-day-chuyen-doi-so-cua-nganh-y-te-102230720110854126.htm" title="S&#xE1;ng ki&#x1EBF;n &#x27;B&#xE1;c s&#x129; cho m&#x1ECD;i nh&#xE0;&#x27; th&#xFA;c &#x111;&#x1EA9;y chuy&#x1EC3;n &#x111;&#x1ED5;i s&#x1ED1; c&#x1EE7;a ng&#xE0;nh y t&#x1EBF;" data-id="102230720110854126">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/7/20/ungdung-168982604898510004784-0-0-450-720-crop-1689832522123295760573.jpg" alt="S&#xE1;ng ki&#x1EBF;n &#x27;B&#xE1;c s&#x129; cho m&#x1ECD;i nh&#xE0;&#x27; th&#xFA;c &#x111;&#x1EA9;y chuy&#x1EC3;n &#x111;&#x1ED5;i s&#x1ED1; c&#x1EE7;a ng&#xE0;nh y t&#x1EBF;" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230720110854126" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/sang-kien-bac-si-cho-moi-nha-thuc-day-chuyen-doi-so-cua-nganh-y-te-102230720110854126.htm" title="S&#xE1;ng ki&#x1EBF;n &#x27;B&#xE1;c s&#x129; cho m&#x1ECD;i nh&#xE0;&#x27; th&#xFA;c &#x111;&#x1EA9;y chuy&#x1EC3;n &#x111;&#x1ED5;i s&#x1ED1; c&#x1EE7;a ng&#xE0;nh y t&#x1EBF;">S&#xE1;ng ki&#x1EBF;n &#x27;B&#xE1;c s&#x129; cho m&#x1ECD;i nh&#xE0;&#x27; th&#xFA;c &#x111;&#x1EA9;y chuy&#x1EC3;n &#x111;&#x1ED5;i s&#x1ED1; c&#x1EE7;a ng&#xE0;nh y t&#x1EBF;</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/xa-hoi/y-te.htm" title="Y t&#x1EBF;">Y t&#x1EBF; </a>
                        <span class="time-ago box-stream-time" title="7/20/2023 1:03:00 PM">20/07/2023 13:03</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - &quot;B&#xE1;c s&#x129; cho m&#x1ECD;i nh&#xE0;&quot; l&#xE0; c&#x1EA7;u n&#x1ED1;i gi&#x1EEF;a c&#xE1;n b&#x1ED9; y t&#x1EBF; t&#x1EA1;i tr&#x1EA1;m y t&#x1EBF; x&#xE3; v&#x1EDB;i c&#xE1;c &#x111;&#x1A1;n v&#x1ECB; y t&#x1EBF; t&#x1EA1;i tuy&#x1EBF;n huy&#x1EC7;n v&#xE0; c&#xE1;c tuy&#x1EBF;n tr&#xEA;n, gi&#xFA;p c&#xF4;ng t&#xE1;c t&#x1B0; v&#x1EA5;n, h&#x1B0;&#x1EDB;ng d&#x1EAB;n &#x111;i&#x1EC1;u tr&#x1ECB; hi&#x1EC7;u qu&#x1EA3;.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230626152954234">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/tang-cuong-hop-tac-khu-vuc-nham-thuc-day-cuoc-song-khoe-manh-cho-nguoi-di-cu-102230626152954234.htm" title="T&#x103;ng c&#x1B0;&#x1EDD;ng h&#x1EE3;p t&#xE1;c khu v&#x1EF1;c nh&#x1EB1;m th&#xFA;c &#x111;&#x1EA9;y cu&#x1ED9;c s&#x1ED1;ng kh&#x1ECF;e m&#x1EA1;nh cho ng&#x1B0;&#x1EDD;i di c&#x1B0;" data-id="102230626152954234">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/6/26/iom-16877681251701787958894-34-0-868-1335-crop-16877681309541575485621.jpg" alt="T&#x103;ng c&#x1B0;&#x1EDD;ng h&#x1EE3;p t&#xE1;c khu v&#x1EF1;c nh&#x1EB1;m th&#xFA;c &#x111;&#x1EA9;y cu&#x1ED9;c s&#x1ED1;ng kh&#x1ECF;e m&#x1EA1;nh cho ng&#x1B0;&#x1EDD;i di c&#x1B0;" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230626152954234" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/tang-cuong-hop-tac-khu-vuc-nham-thuc-day-cuoc-song-khoe-manh-cho-nguoi-di-cu-102230626152954234.htm" title="T&#x103;ng c&#x1B0;&#x1EDD;ng h&#x1EE3;p t&#xE1;c khu v&#x1EF1;c nh&#x1EB1;m th&#xFA;c &#x111;&#x1EA9;y cu&#x1ED9;c s&#x1ED1;ng kh&#x1ECF;e m&#x1EA1;nh cho ng&#x1B0;&#x1EDD;i di c&#x1B0;">T&#x103;ng c&#x1B0;&#x1EDD;ng h&#x1EE3;p t&#xE1;c khu v&#x1EF1;c nh&#x1EB1;m th&#xFA;c &#x111;&#x1EA9;y cu&#x1ED9;c s&#x1ED1;ng kh&#x1ECF;e m&#x1EA1;nh cho ng&#x1B0;&#x1EDD;i di c&#x1B0;</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/quoc-te/viet-nam-asean.htm" title="Vi&#x1EC7;t Nam - ASEAN">Vi&#x1EC7;t Nam - ASEAN </a>
                        <span class="time-ago box-stream-time" title="6/26/2023 4:32:00 PM">26/06/2023 16:32</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - T&#x1ED5; ch&#x1EE9;c Di c&#x1B0; Qu&#x1ED1;c t&#x1EBF; (IOM) v&#xE0; Ch&#xED;nh ph&#x1EE7; Vi&#x1EC7;t Nam &#x1EE7;ng h&#x1ED9; t&#x103;ng c&#x1B0;&#x1EDD;ng h&#x1EE3;p t&#xE1;c khu v&#x1EF1;c nh&#x1EB1;m n&#xE2;ng cao s&#x1EE9;c kh&#x1ECF;e v&#xE0; th&#xFA;c &#x111;&#x1EA9;y cu&#x1ED9;c s&#x1ED1;ng kh&#x1ECF;e m&#x1EA1;nh cho ng&#x1B0;&#x1EDD;i di c&#x1B0; trong khu v&#x1EF1;c ASEAN.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230522163122066">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/de-xuat-lo-trinh-dua-viet-nam-thanh-trung-tam-san-xuat-vaccine-khu-vuc-102230522163122066.htm" title="&#x110;&#x1EC1; xu&#x1EA5;t l&#x1ED9; tr&#xEC;nh &#x111;&#x1B0;a Vi&#x1EC7;t Nam th&#xE0;nh trung t&#xE2;m s&#x1EA3;n xu&#x1EA5;t vaccine khu v&#x1EF1;c" data-id="102230522163122066">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/5/22/undp-16847478088292021986173-0-0-1250-2000-crop-1684747811195910005369.jpg" alt="&#x110;&#x1EC1; xu&#x1EA5;t l&#x1ED9; tr&#xEC;nh &#x111;&#x1B0;a Vi&#x1EC7;t Nam th&#xE0;nh trung t&#xE2;m s&#x1EA3;n xu&#x1EA5;t vaccine khu v&#x1EF1;c" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230522163122066" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/de-xuat-lo-trinh-dua-viet-nam-thanh-trung-tam-san-xuat-vaccine-khu-vuc-102230522163122066.htm" title="&#x110;&#x1EC1; xu&#x1EA5;t l&#x1ED9; tr&#xEC;nh &#x111;&#x1B0;a Vi&#x1EC7;t Nam th&#xE0;nh trung t&#xE2;m s&#x1EA3;n xu&#x1EA5;t vaccine khu v&#x1EF1;c">&#x110;&#x1EC1; xu&#x1EA5;t l&#x1ED9; tr&#xEC;nh &#x111;&#x1B0;a Vi&#x1EC7;t Nam th&#xE0;nh trung t&#xE2;m s&#x1EA3;n xu&#x1EA5;t vaccine khu v&#x1EF1;c</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/xa-hoi/y-te.htm" title="Y t&#x1EBF;">Y t&#x1EBF; </a>
                        <span class="time-ago box-stream-time" title="5/22/2023 5:26:00 PM">22/05/2023 17:26</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Ng&#xE0;y 22/5, t&#x1EA1;i H&#xE0; N&#x1ED9;i, Ch&#x1B0;&#x1A1;ng tr&#xEC;nh Ph&#xE1;t tri&#x1EC3;n Li&#xEA;n H&#x1EE3;p Qu&#x1ED1;c (UNDP) t&#x1EA1;i Vi&#x1EC7;t Nam ph&#x1ED1;i h&#x1EE3;p v&#x1EDB;i Vi&#x1EC7;n Chi&#x1EBF;n l&#x1B0;&#x1EE3;c v&#xE0; Ch&#xED;nh s&#xE1;ch y t&#x1EBF; (B&#x1ED9; Y t&#x1EBF;) t&#x1ED5; ch&#x1EE9;c H&#x1ED9;i th&#x1EA3;o ph&#x1ED5; bi&#x1EBF;n k&#x1EBF;t qu&#x1EA3; nghi&#xEA;n c&#x1EE9;u vaccine v&#xE0; tham gia Ch&#x1B0;&#x1A1;ng tr&#xEC;nh chuy&#x1EC3;n giao c&#xF4;ng ngh&#x1EC7; vaccine mRNA c&#x1EE7;a Vi&#x1EC7;t Nam.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230508162229954">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/tu-20-6-lao-dong-nu-khi-kham-suc-khoe-dinh-ky-se-duoc-kham-phu-san-102230508162229954.htm" title="T&#x1EEB; 20/6, lao &#x111;&#x1ED9;ng n&#x1EEF; khi kh&#xE1;m s&#x1EE9;c kh&#x1ECF;e &#x111;&#x1ECB;nh k&#x1EF3; s&#x1EBD; &#x111;&#x1B0;&#x1EE3;c kh&#xE1;m ph&#x1EE5; s&#x1EA3;n" data-id="102230508162229954">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/5/8/kham-suc-khoe-16835373669802128765594-97-0-1297-1920-crop-1683537734447394994579.jpeg" alt="T&#x1EEB; 20/6, lao &#x111;&#x1ED9;ng n&#x1EEF; khi kh&#xE1;m s&#x1EE9;c kh&#x1ECF;e &#x111;&#x1ECB;nh k&#x1EF3; s&#x1EBD; &#x111;&#x1B0;&#x1EE3;c kh&#xE1;m ph&#x1EE5; s&#x1EA3;n" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230508162229954" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/tu-20-6-lao-dong-nu-khi-kham-suc-khoe-dinh-ky-se-duoc-kham-phu-san-102230508162229954.htm" title="T&#x1EEB; 20/6, lao &#x111;&#x1ED9;ng n&#x1EEF; khi kh&#xE1;m s&#x1EE9;c kh&#x1ECF;e &#x111;&#x1ECB;nh k&#x1EF3; s&#x1EBD; &#x111;&#x1B0;&#x1EE3;c kh&#xE1;m ph&#x1EE5; s&#x1EA3;n">T&#x1EEB; 20/6, lao &#x111;&#x1ED9;ng n&#x1EEF; khi kh&#xE1;m s&#x1EE9;c kh&#x1ECF;e &#x111;&#x1ECB;nh k&#x1EF3; s&#x1EBD; &#x111;&#x1B0;&#x1EE3;c kh&#xE1;m ph&#x1EE5; s&#x1EA3;n</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chinh-sach-va-cuoc-song/chinh-sach-moi.htm" title="Ch&#xED;nh s&#xE1;ch m&#x1EDB;i">Ch&#xED;nh s&#xE1;ch m&#x1EDB;i </a>
                        <span class="time-ago box-stream-time" title="5/8/2023 6:06:00 PM">08/05/2023 18:06</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Theo Th&#xF4;ng t&#x1B0; 09/2023/TT-BYT, t&#x1EEB; ng&#xE0;y 20/6/2023, ng&#x1B0;&#x1EDD;i lao &#x111;&#x1ED9;ng l&#xE0; n&#x1EEF; gi&#x1EDB;i s&#x1EBD; &#x111;&#x1B0;&#x1EE3;c kh&#xE1;m th&#xEA;m chuy&#xEA;n khoa ph&#x1EE5; s&#x1EA3;n khi kh&#xE1;m s&#x1EE9;c kh&#x1ECF;e &#x111;&#x1ECB;nh k&#x1EF3;.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230316151025835">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/sua-quy-dinh-ve-dau-thau-thuoc-tai-cac-co-so-y-te-cong-lap-102230316151025835.htm" title="S&#x1EED;a quy &#x111;&#x1ECB;nh v&#x1EC1; &#x111;&#x1EA5;u th&#x1EA7;u thu&#x1ED1;c t&#x1EA1;i c&#xE1;c c&#x1A1; s&#x1EDF; y t&#x1EBF; c&#xF4;ng l&#x1EAD;p" data-id="102230316151025835">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/3/16/thuoc-1678954021352272040400-250-0-1500-2000-crop-1678954041704588417240.jpg" alt="S&#x1EED;a quy &#x111;&#x1ECB;nh v&#x1EC1; &#x111;&#x1EA5;u th&#x1EA7;u thu&#x1ED1;c t&#x1EA1;i c&#xE1;c c&#x1A1; s&#x1EDF; y t&#x1EBF; c&#xF4;ng l&#x1EAD;p" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230316151025835" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/sua-quy-dinh-ve-dau-thau-thuoc-tai-cac-co-so-y-te-cong-lap-102230316151025835.htm" title="S&#x1EED;a quy &#x111;&#x1ECB;nh v&#x1EC1; &#x111;&#x1EA5;u th&#x1EA7;u thu&#x1ED1;c t&#x1EA1;i c&#xE1;c c&#x1A1; s&#x1EDF; y t&#x1EBF; c&#xF4;ng l&#x1EAD;p">S&#x1EED;a quy &#x111;&#x1ECB;nh v&#x1EC1; &#x111;&#x1EA5;u th&#x1EA7;u thu&#x1ED1;c t&#x1EA1;i c&#xE1;c c&#x1A1; s&#x1EDF; y t&#x1EBF; c&#xF4;ng l&#x1EAD;p</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chinh-sach-va-cuoc-song/tham-van-chinh-sach.htm" title="Tham v&#x1EA5;n ch&#xED;nh s&#xE1;ch">Tham v&#x1EA5;n ch&#xED;nh s&#xE1;ch </a>
                        <span class="time-ago box-stream-time" title="3/16/2023 4:50:00 PM">16/03/2023 16:50</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - B&#x1ED9; Y t&#x1EBF; &#x111;&#xE3; ban h&#xE0;nh Th&#xF4;ng t&#x1B0; 06/2023/TT-BYT s&#x1EED;a &#x111;&#x1ED5;i, b&#x1ED5; sung m&#x1ED9;t s&#x1ED1; &#x111;i&#x1EC1;u c&#x1EE7;a Th&#xF4;ng t&#x1B0; s&#x1ED1; 15/2019/TT-BYT quy &#x111;&#x1ECB;nh vi&#x1EC7;c &#x111;&#x1EA5;u th&#x1EA7;u thu&#x1ED1;c t&#x1EA1;i c&#xE1;c c&#x1A1; s&#x1EDF; y t&#x1EBF; c&#xF4;ng l&#x1EAD;p.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230313145728602">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/thang-hanh-dong-bao-dam-an-ninh-an-toan-thuc-pham-trong-tinh-hinh-moi-102230313145728602.htm" title="Th&#xE1;ng h&#xE0;nh &#x111;&#x1ED9;ng &quot;B&#x1EA3;o &#x111;&#x1EA3;m an ninh, an to&#xE0;n th&#x1EF1;c ph&#x1EA9;m trong t&#xEC;nh h&#xEC;nh m&#x1EDB;i&quot;" data-id="102230313145728602">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/3/13/attp-16786939694491752570276.jpg" alt="Th&#xE1;ng h&#xE0;nh &#x111;&#x1ED9;ng &quot;B&#x1EA3;o &#x111;&#x1EA3;m an ninh, an to&#xE0;n th&#x1EF1;c ph&#x1EA9;m trong t&#xEC;nh h&#xEC;nh m&#x1EDB;i&quot;" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230313145728602" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/thang-hanh-dong-bao-dam-an-ninh-an-toan-thuc-pham-trong-tinh-hinh-moi-102230313145728602.htm" title="Th&#xE1;ng h&#xE0;nh &#x111;&#x1ED9;ng &quot;B&#x1EA3;o &#x111;&#x1EA3;m an ninh, an to&#xE0;n th&#x1EF1;c ph&#x1EA9;m trong t&#xEC;nh h&#xEC;nh m&#x1EDB;i&quot;">Th&#xE1;ng h&#xE0;nh &#x111;&#x1ED9;ng &quot;B&#x1EA3;o &#x111;&#x1EA3;m an ninh, an to&#xE0;n th&#x1EF1;c ph&#x1EA9;m trong t&#xEC;nh h&#xEC;nh m&#x1EDB;i&quot;</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/xa-hoi/y-te.htm" title="Y t&#x1EBF;">Y t&#x1EBF; </a>
                        <span class="time-ago box-stream-time" title="3/13/2023 6:58:00 PM">13/03/2023 18:58</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Th&#xE1;ng h&#xE0;nh &#x111;&#x1ED9;ng v&#xEC; an to&#xE0;n th&#x1EF1;c ph&#x1EA9;m n&#x103;m 2023 s&#x1EBD; di&#x1EC5;n ra t&#x1EEB; ng&#xE0;y 15/4 &#x111;&#x1EBF;n 15/5/2023 tr&#xEA;n ph&#x1EA1;m vi to&#xE0;n qu&#x1ED1;c v&#x1EDB;i ch&#x1EE7; &#x111;&#x1EC1; &#x201C;B&#x1EA3;o &#x111;&#x1EA3;m an ninh, an to&#xE0;n th&#x1EF1;c ph&#x1EA9;m trong t&#xEC;nh h&#xEC;nh m&#x1EDB;i&#x201D;.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230313110202882">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/phan-dau-giam-toi-da-ty-le-mac-tu-vong-do-cac-benh-truyen-nhiem-102230313110202882.htm" title="Ph&#x1EA5;n &#x111;&#x1EA5;u gi&#x1EA3;m t&#x1ED1;i &#x111;a t&#x1EF7; l&#x1EC7; m&#x1EAF;c, t&#x1EED; vong do c&#xE1;c b&#x1EC7;nh truy&#x1EC1;n nhi&#x1EC5;m" data-id="102230313110202882">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/3/13/sk-1678679472046471019594-0-5-361-583-crop-1678679521651797120909.jpg" alt="Ph&#x1EA5;n &#x111;&#x1EA5;u gi&#x1EA3;m t&#x1ED1;i &#x111;a t&#x1EF7; l&#x1EC7; m&#x1EAF;c, t&#x1EED; vong do c&#xE1;c b&#x1EC7;nh truy&#x1EC1;n nhi&#x1EC5;m" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230313110202882" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/phan-dau-giam-toi-da-ty-le-mac-tu-vong-do-cac-benh-truyen-nhiem-102230313110202882.htm" title="Ph&#x1EA5;n &#x111;&#x1EA5;u gi&#x1EA3;m t&#x1ED1;i &#x111;a t&#x1EF7; l&#x1EC7; m&#x1EAF;c, t&#x1EED; vong do c&#xE1;c b&#x1EC7;nh truy&#x1EC1;n nhi&#x1EC5;m">Ph&#x1EA5;n &#x111;&#x1EA5;u gi&#x1EA3;m t&#x1ED1;i &#x111;a t&#x1EF7; l&#x1EC7; m&#x1EAF;c, t&#x1EED; vong do c&#xE1;c b&#x1EC7;nh truy&#x1EC1;n nhi&#x1EC5;m</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/xa-hoi/y-te.htm" title="Y t&#x1EBF;">Y t&#x1EBF; </a>
                        <span class="time-ago box-stream-time" title="3/13/2023 6:43:00 PM">13/03/2023 18:43</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Gi&#x1EA3;m t&#x1ED1;i &#x111;a t&#x1EF7; l&#x1EC7; m&#x1EAF;c v&#xE0; t&#x1EED; vong do c&#xE1;c b&#x1EC7;nh truy&#x1EC1;n nhi&#x1EC5;m so v&#x1EDB;i trung b&#xEC;nh n&#x103;m giai &#x111;o&#x1EA1;n 2016-2020; kh&#x1ED1;ng ch&#x1EBF; k&#x1ECB;p th&#x1EDD;i, h&#x1EA1;n ch&#x1EBF; t&#x1ED1;i &#x111;a nguy c&#x1A1; d&#x1ECB;ch b&#x1EC7;nh b&#xF9;ng ph&#xE1;t &#x111;&#x1EC3; g&#xF3;p ph&#x1EA7;n b&#x1EA3;o v&#x1EC7;, ch&#x103;m s&#xF3;c v&#xE0; n&#xE2;ng cao s&#x1EE9;c kh&#x1ECF;e nh&#xE2;n d&#xE2;n v&#xE0; ph&#xE1;t tri&#x1EC3;n kinh t&#x1EBF;, x&#xE3; h&#x1ED9;i.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230307162007904">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/gan-200-loai-thuoc-thiet-yeu-duoc-cap-so-dang-ky-luu-hanh-102230307162007904.htm" title="G&#x1EA7;n 200 lo&#x1EA1;i thu&#x1ED1;c thi&#x1EBF;t y&#x1EBF;u &#x111;&#x1B0;&#x1EE3;c c&#x1EA5;p s&#x1ED1; &#x111;&#x103;ng k&#xFD; l&#x1B0;u h&#xE0;nh" data-id="102230307162007904">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/3/7/thuoc-16781802937251241770745-17-0-267-400-crop-1678180310448152134296.jpg" alt="G&#x1EA7;n 200 lo&#x1EA1;i thu&#x1ED1;c thi&#x1EBF;t y&#x1EBF;u &#x111;&#x1B0;&#x1EE3;c c&#x1EA5;p s&#x1ED1; &#x111;&#x103;ng k&#xFD; l&#x1B0;u h&#xE0;nh" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230307162007904" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/gan-200-loai-thuoc-thiet-yeu-duoc-cap-so-dang-ky-luu-hanh-102230307162007904.htm" title="G&#x1EA7;n 200 lo&#x1EA1;i thu&#x1ED1;c thi&#x1EBF;t y&#x1EBF;u &#x111;&#x1B0;&#x1EE3;c c&#x1EA5;p s&#x1ED1; &#x111;&#x103;ng k&#xFD; l&#x1B0;u h&#xE0;nh">G&#x1EA7;n 200 lo&#x1EA1;i thu&#x1ED1;c thi&#x1EBF;t y&#x1EBF;u &#x111;&#x1B0;&#x1EE3;c c&#x1EA5;p s&#x1ED1; &#x111;&#x103;ng k&#xFD; l&#x1B0;u h&#xE0;nh</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/xa-hoi/y-te.htm" title="Y t&#x1EBF;">Y t&#x1EBF; </a>
                        <span class="time-ago box-stream-time" title="3/7/2023 5:09:00 PM">07/03/2023 17:09</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Trong s&#x1ED1; g&#x1EA7;n 200 lo&#x1EA1;i thu&#x1ED1;c &#x111;&#x1B0;&#x1EE3;c C&#x1EE5;c Qu&#x1EA3;n l&#xFD; D&#x1B0;&#x1EE3;c - B&#x1ED9; Y t&#x1EBF; c&#x1EA5;p s&#x1ED1; &#x111;&#x103;ng k&#xFD; m&#x1EDB;i c&#xF3; g&#x1EA7;n 60 lo&#x1EA1;i thu&#x1ED1;c s&#x1EA3;n xu&#x1EA5;t trong n&#x1B0;&#x1EDB;c, h&#x1A1;n 130 thu&#x1ED1;c n&#x1B0;&#x1EDB;c ngo&#xE0;i.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230226134432308">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/hoan-thien-van-ban-de-som-giai-quyet-tinh-trang-thieu-thuoc-vat-tu-trang-thiet-bi-y-te-102230226134432308.htm" title="Ho&#xE0;n thi&#x1EC7;n v&#x103;n b&#x1EA3;n &#x111;&#x1EC3; s&#x1EDB;m gi&#x1EA3;i quy&#x1EBF;t t&#xEC;nh tr&#x1EA1;ng thi&#x1EBF;u thu&#x1ED1;c, v&#x1EAD;t t&#x1B0;, trang thi&#x1EBF;t b&#x1ECB; y t&#x1EBF;" data-id="102230226134432308">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/2/26/thuoc-1677393615731960160609-0-96-315-600-crop-16773936447181493085748.jpg" alt="Ho&#xE0;n thi&#x1EC7;n v&#x103;n b&#x1EA3;n &#x111;&#x1EC3; s&#x1EDB;m gi&#x1EA3;i quy&#x1EBF;t t&#xEC;nh tr&#x1EA1;ng thi&#x1EBF;u thu&#x1ED1;c, v&#x1EAD;t t&#x1B0;, trang thi&#x1EBF;t b&#x1ECB; y t&#x1EBF;" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230226134432308" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/hoan-thien-van-ban-de-som-giai-quyet-tinh-trang-thieu-thuoc-vat-tu-trang-thiet-bi-y-te-102230226134432308.htm" title="Ho&#xE0;n thi&#x1EC7;n v&#x103;n b&#x1EA3;n &#x111;&#x1EC3; s&#x1EDB;m gi&#x1EA3;i quy&#x1EBF;t t&#xEC;nh tr&#x1EA1;ng thi&#x1EBF;u thu&#x1ED1;c, v&#x1EAD;t t&#x1B0;, trang thi&#x1EBF;t b&#x1ECB; y t&#x1EBF;">Ho&#xE0;n thi&#x1EC7;n v&#x103;n b&#x1EA3;n &#x111;&#x1EC3; s&#x1EDB;m gi&#x1EA3;i quy&#x1EBF;t t&#xEC;nh tr&#x1EA1;ng thi&#x1EBF;u thu&#x1ED1;c, v&#x1EAD;t t&#x1B0;, trang thi&#x1EBF;t b&#x1ECB; y t&#x1EBF;</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chi-dao-quyet-dinh-cua-chinh-phu-thu-tuong-chinh-phu.htm" title="Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7;">Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; </a>
                        <span class="time-ago box-stream-time" title="2/26/2023 3:36:00 PM">26/02/2023 15:36</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - V&#x103;n ph&#xF2;ng Ch&#xED;nh ph&#x1EE7; v&#x1EEB;a c&#xF3; Th&#xF4;ng b&#xE1;o s&#x1ED1; 56/TB-VPCP ng&#xE0;y 26/2/2023 k&#x1EBF;t lu&#x1EAD;n c&#x1EE7;a Ph&#xF3; Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; Tr&#x1EA7;n H&#x1ED3;ng H&#xE0; t&#x1EA1;i cu&#x1ED9;c h&#x1ECD;p v&#x1EC1; t&#xEC;nh h&#xEC;nh tri&#x1EC3;n khai K&#x1EBF;t lu&#x1EAD;n s&#x1ED1; 26/TB-VPCP v&#xE0; ho&#xE0;n thi&#x1EC7;n D&#x1EF1; th&#x1EA3;o Ngh&#x1ECB; &#x111;&#x1ECB;nh s&#x1EED;a &#x111;&#x1ED5;i, b&#x1ED5; sung Ngh&#x1ECB; &#x111;&#x1ECB;nh s&#x1ED1; 98/2021/N&#x110;-CP ng&#xE0;y 08/11/2021 v&#x1EC1; qu&#x1EA3;n l&#xFD; trang thi&#x1EBF;t b&#x1ECB; y t&#x1EBF;.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230225174658533">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/ky-ket-thoa-thuan-hop-tac-giua-agribank-va-cong-doan-y-te-viet-nam-102230225174658533.htm" title="K&#xFD; k&#x1EBF;t th&#x1ECF;a thu&#x1EAD;n h&#x1EE3;p t&#xE1;c gi&#x1EEF;a Agribank v&#xE0; C&#xF4;ng &#x111;o&#xE0;n Y t&#x1EBF; Vi&#x1EC7;t Nam" data-id="102230225174658533">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/2/25/yteagrib1jpg-1677321870171593279976-0-39-448-756-crop-1677321940329197124465.png" alt="K&#xFD; k&#x1EBF;t th&#x1ECF;a thu&#x1EAD;n h&#x1EE3;p t&#xE1;c gi&#x1EEF;a Agribank v&#xE0; C&#xF4;ng &#x111;o&#xE0;n Y t&#x1EBF; Vi&#x1EC7;t Nam" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230225174658533" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/ky-ket-thoa-thuan-hop-tac-giua-agribank-va-cong-doan-y-te-viet-nam-102230225174658533.htm" title="K&#xFD; k&#x1EBF;t th&#x1ECF;a thu&#x1EAD;n h&#x1EE3;p t&#xE1;c gi&#x1EEF;a Agribank v&#xE0; C&#xF4;ng &#x111;o&#xE0;n Y t&#x1EBF; Vi&#x1EC7;t Nam">K&#xFD; k&#x1EBF;t th&#x1ECF;a thu&#x1EAD;n h&#x1EE3;p t&#xE1;c gi&#x1EEF;a Agribank v&#xE0; C&#xF4;ng &#x111;o&#xE0;n Y t&#x1EBF; Vi&#x1EC7;t Nam</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/kinh-te/ngan-hang.htm" title="Ng&#xE2;n h&#xE0;ng">Ng&#xE2;n h&#xE0;ng </a>
                        <span class="time-ago box-stream-time" title="2/25/2023 6:33:00 PM">25/02/2023 18:33</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) &#x2013; C&#xF4;ng &#x111;o&#xE0;n Y t&#x1EBF; Vi&#x1EC7;t Nam v&#xE0; Ng&#xE2;n h&#xE0;ng N&#xF4;ng nghi&#x1EC7;p v&#xE0; Ph&#xE1;t tri&#x1EC3;n n&#xF4;ng th&#xF4;n Vi&#x1EC7;t Nam (Agribank) v&#x1EEB;a ch&#xED;nh th&#x1EE9;c k&#xFD; k&#x1EBF;t th&#x1ECF;a thu&#x1EAD;n h&#x1EE3;p t&#xE1;c.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230225162723017">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/thu-tuong-chi-dao-trien-khai-cac-giai-phap-bao-dam-du-thuoc-trang-thiet-bi-y-te-102230225162723017.htm" title="Th&#x1EE7; t&#x1B0;&#x1EDB;ng ch&#x1EC9; &#x111;&#x1EA1;o tri&#x1EC3;n khai c&#xE1;c gi&#x1EA3;i ph&#xE1;p b&#x1EA3;o &#x111;&#x1EA3;m &#x111;&#x1EE7; thu&#x1ED1;c, trang thi&#x1EBF;t b&#x1ECB; y t&#x1EBF;" data-id="102230225162723017">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/2/25/thuoccb-16773168730061144373166-0-13-294-483-crop-1677316965900240603521.png" alt="Th&#x1EE7; t&#x1B0;&#x1EDB;ng ch&#x1EC9; &#x111;&#x1EA1;o tri&#x1EC3;n khai c&#xE1;c gi&#x1EA3;i ph&#xE1;p b&#x1EA3;o &#x111;&#x1EA3;m &#x111;&#x1EE7; thu&#x1ED1;c, trang thi&#x1EBF;t b&#x1ECB; y t&#x1EBF;" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230225162723017" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/thu-tuong-chi-dao-trien-khai-cac-giai-phap-bao-dam-du-thuoc-trang-thiet-bi-y-te-102230225162723017.htm" title="Th&#x1EE7; t&#x1B0;&#x1EDB;ng ch&#x1EC9; &#x111;&#x1EA1;o tri&#x1EC3;n khai c&#xE1;c gi&#x1EA3;i ph&#xE1;p b&#x1EA3;o &#x111;&#x1EA3;m &#x111;&#x1EE7; thu&#x1ED1;c, trang thi&#x1EBF;t b&#x1ECB; y t&#x1EBF;">Th&#x1EE7; t&#x1B0;&#x1EDB;ng ch&#x1EC9; &#x111;&#x1EA1;o tri&#x1EC3;n khai c&#xE1;c gi&#x1EA3;i ph&#xE1;p b&#x1EA3;o &#x111;&#x1EA3;m &#x111;&#x1EE7; thu&#x1ED1;c, trang thi&#x1EBF;t b&#x1ECB; y t&#x1EBF;</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chi-dao-quyet-dinh-cua-chinh-phu-thu-tuong-chinh-phu.htm" title="Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7;">Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; </a>
                        <span class="time-ago box-stream-time" title="2/25/2023 4:28:00 PM">25/02/2023 16:28</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; Ph&#x1EA1;m Minh Ch&#xED;nh v&#x1EEB;a k&#xFD; C&#xF4;ng &#x111;i&#x1EC7;n s&#x1ED1; 72/C&#x110;-TTg ng&#xE0;y 25/2/2023 v&#x1EC1; vi&#x1EC7;c ti&#x1EBF;p t&#x1EE5;c c&#xE1;c gi&#x1EA3;i ph&#xE1;p b&#x1EA3;o &#x111;&#x1EA3;m thu&#x1ED1;c, trang thi&#x1EBF;t b&#x1ECB; y t&#x1EBF; ph&#x1EE5;c v&#x1EE5; c&#xF4;ng t&#xE1;c kh&#xE1;m b&#x1EC7;nh, ch&#x1EEF;a b&#x1EC7;nh.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102230110085643353">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/tang-cuong-tiep-can-dich-vu-y-te-cho-cac-nhom-yeu-the-102230110085643353.htm" title="T&#x103;ng c&#x1B0;&#x1EDD;ng ti&#x1EBF;p c&#x1EAD;n d&#x1ECB;ch v&#x1EE5; y t&#x1EBF; cho c&#xE1;c nh&#xF3;m y&#x1EBF;u th&#x1EBF;" data-id="102230110085643353">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2023/1/10/thumb-undp-16733157029461804842364-16733157038082800151.jpg" alt="T&#x103;ng c&#x1B0;&#x1EDD;ng ti&#x1EBF;p c&#x1EAD;n d&#x1ECB;ch v&#x1EE5; y t&#x1EBF; cho c&#xE1;c nh&#xF3;m y&#x1EBF;u th&#x1EBF;" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102230110085643353" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/tang-cuong-tiep-can-dich-vu-y-te-cho-cac-nhom-yeu-the-102230110085643353.htm" title="T&#x103;ng c&#x1B0;&#x1EDD;ng ti&#x1EBF;p c&#x1EAD;n d&#x1ECB;ch v&#x1EE5; y t&#x1EBF; cho c&#xE1;c nh&#xF3;m y&#x1EBF;u th&#x1EBF;">T&#x103;ng c&#x1B0;&#x1EDD;ng ti&#x1EBF;p c&#x1EAD;n d&#x1ECB;ch v&#x1EE5; y t&#x1EBF; cho c&#xE1;c nh&#xF3;m y&#x1EBF;u th&#x1EBF;</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/xa-hoi/y-te.htm" title="Y t&#x1EBF;">Y t&#x1EBF; </a>
                        <span class="time-ago box-stream-time" title="1/10/2023 10:05:00 AM">10/01/2023 10:05</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Ng&#xE0;y 9/1, t&#x1EA1;i H&#xE0; N&#x1ED9;i, B&#x1ED9; Y t&#x1EBF;, T&#x1ED5; ch&#x1EE9;c Ch&#x103;m s&#xF3;c s&#x1EE9;c kh&#x1ECF;e qu&#x1ED1;c t&#x1EBF; H&#xE0;n Qu&#x1ED1;c (KOFIH), Ch&#x1B0;&#x1A1;ng tr&#xEC;nh Ph&#xE1;t tri&#x1EC3;n Li&#xEA;n H&#x1EE3;p Qu&#x1ED1;c (UNDP) k&#xFD; bi&#xEA;n b&#x1EA3;n ghi nh&#x1EDB; v&#x1EC1; h&#x1EE3;p t&#xE1;c tri&#x1EC3;n khai D&#x1EF1; &#xE1;n &#x1EE9;ng d&#x1EE5;ng y t&#x1EBF; t&#x1EEB; xa nh&#x1EB1;m t&#x103;ng c&#x1B0;&#x1EDD;ng ti&#x1EBF;p c&#x1EAD;n d&#x1ECB;ch v&#x1EE5; y t&#x1EBF; cho c&#xE1;c nh&#xF3;m y&#x1EBF;u th&#x1EBF; t&#x1EA1;i Vi&#x1EC7;t Nam.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102221115125350085">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/to-chuc-lai-mot-so-vu-cuc-thuoc-bo-y-te-102221115125350085.htm" title="T&#x1ED5; ch&#x1EE9;c l&#x1EA1;i m&#x1ED9;t s&#x1ED1; v&#x1EE5;, c&#x1EE5;c thu&#x1ED9;c B&#x1ED9; Y t&#x1EBF;" data-id="102221115125350085">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2022/11/15/defaultshare-16684912526871371735165-0-0-315-504-crop-16684915438141035768171.jpg" alt="T&#x1ED5; ch&#x1EE9;c l&#x1EA1;i m&#x1ED9;t s&#x1ED1; v&#x1EE5;, c&#x1EE5;c thu&#x1ED9;c B&#x1ED9; Y t&#x1EBF;" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102221115125350085" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/to-chuc-lai-mot-so-vu-cuc-thuoc-bo-y-te-102221115125350085.htm" title="T&#x1ED5; ch&#x1EE9;c l&#x1EA1;i m&#x1ED9;t s&#x1ED1; v&#x1EE5;, c&#x1EE5;c thu&#x1ED9;c B&#x1ED9; Y t&#x1EBF;">T&#x1ED5; ch&#x1EE9;c l&#x1EA1;i m&#x1ED9;t s&#x1ED1; v&#x1EE5;, c&#x1EE5;c thu&#x1ED9;c B&#x1ED9; Y t&#x1EBF;</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chi-dao-quyet-dinh-cua-chinh-phu-thu-tuong-chinh-phu.htm" title="Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7;">Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; </a>
                        <span class="time-ago box-stream-time" title="11/15/2022 1:20:00 PM">15/11/2022 13:20</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Ph&#xF3; Th&#x1EE7; t&#x1B0;&#x1EDB;ng Th&#x1B0;&#x1EDD;ng tr&#x1EF1;c Ph&#x1EA1;m B&#xEC;nh Minh v&#x1EEB;a k&#xFD; Ngh&#x1ECB; &#x111;&#x1ECB;nh s&#x1ED1; 95/2022/N&#x110;-CP ng&#xE0;y 15/11/2022 quy &#x111;&#x1ECB;nh ch&#x1EE9;c n&#x103;ng, nhi&#x1EC7;m v&#x1EE5;, quy&#x1EC1;n h&#x1EA1;n v&#xE0; c&#x1A1; c&#x1EA5;u t&#x1ED5; ch&#x1EE9;c c&#x1EE7;a B&#x1ED9; Y t&#x1EBF; trong &#x111;&#xF3; t&#x1ED5; ch&#x1EE9;c l&#x1EA1;i m&#x1ED9;t s&#x1ED1; v&#x1EE5;, c&#x1EE5;c thu&#x1ED9;c B&#x1ED9; Y t&#x1EBF;.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102220907144118658">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/danh-gia-thuc-hien-thi-diem-tu-chu-tai-2-benh-vien-102220907144118658.htm" title="&#x110;&#xE1;nh gi&#xE1; th&#x1EF1;c hi&#x1EC7;n th&#xED; &#x111;i&#x1EC3;m t&#x1EF1; ch&#x1EE7; t&#x1EA1;i 2 b&#x1EC7;nh vi&#x1EC7;n" data-id="102220907144118658">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2022/9/7/bv-bach-mai-16348172215611405759945-1662536124612742105312-0-0-406-650-crop-1662536148724483742173.jpeg" alt="&#x110;&#xE1;nh gi&#xE1; th&#x1EF1;c hi&#x1EC7;n th&#xED; &#x111;i&#x1EC3;m t&#x1EF1; ch&#x1EE7; t&#x1EA1;i 2 b&#x1EC7;nh vi&#x1EC7;n" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102220907144118658" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/danh-gia-thuc-hien-thi-diem-tu-chu-tai-2-benh-vien-102220907144118658.htm" title="&#x110;&#xE1;nh gi&#xE1; th&#x1EF1;c hi&#x1EC7;n th&#xED; &#x111;i&#x1EC3;m t&#x1EF1; ch&#x1EE7; t&#x1EA1;i 2 b&#x1EC7;nh vi&#x1EC7;n">&#x110;&#xE1;nh gi&#xE1; th&#x1EF1;c hi&#x1EC7;n th&#xED; &#x111;i&#x1EC3;m t&#x1EF1; ch&#x1EE7; t&#x1EA1;i 2 b&#x1EC7;nh vi&#x1EC7;n</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chi-dao-quyet-dinh-cua-chinh-phu-thu-tuong-chinh-phu.htm" title="Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7;">Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; </a>
                        <span class="time-ago box-stream-time" title="9/7/2022 4:20:00 PM">07/09/2022 16:20</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - B&#x1ED9; Y t&#x1EBF; ti&#x1EBF;p thu &#xFD; ki&#x1EBF;n c&#x1EE7;a c&#xE1;c &#x111;&#x1EA1;i bi&#x1EC3;u d&#x1EF1; h&#x1ECD;p, kh&#x1EA9;n tr&#x1B0;&#x1A1;ng ho&#xE0;n thi&#x1EC7;n b&#xE1;o c&#xE1;o &#x111;&#xE1;nh gi&#xE1; vi&#x1EC7;c th&#x1EF1;c hi&#x1EC7;n th&#xED; &#x111;i&#x1EC3;m t&#x1EF1; ch&#x1EE7; B&#x1EC7;nh vi&#x1EC7;n B&#x1EA1;ch Mai v&#xE0; B&#x1EC7;nh vi&#x1EC7;n K.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102220824174529519">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/thu-tuong-yeu-cau-nghien-cuu-kien-nghi-cua-chuyen-gia-ve-khac-phuc-tinh-trang-thieu-thuoc-vat-tu-y-te-102220824174529519.htm" title="Th&#x1EE7; t&#x1B0;&#x1EDB;ng y&#xEA;u c&#x1EA7;u nghi&#xEA;n c&#x1EE9;u ki&#x1EBF;n ngh&#x1ECB; c&#x1EE7;a chuy&#xEA;n gia v&#x1EC1; kh&#x1EAF;c ph&#x1EE5;c t&#xEC;nh tr&#x1EA1;ng thi&#x1EBF;u thu&#x1ED1;c, v&#x1EAD;t t&#x1B0; y t&#x1EBF;" data-id="102220824174529519">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2022/8/24/img8597-16602736187881853454555-16613371875881369889411-22-0-422-640-crop-166133725250097706830.jpg" alt="Th&#x1EE7; t&#x1B0;&#x1EDB;ng y&#xEA;u c&#x1EA7;u nghi&#xEA;n c&#x1EE9;u ki&#x1EBF;n ngh&#x1ECB; c&#x1EE7;a chuy&#xEA;n gia v&#x1EC1; kh&#x1EAF;c ph&#x1EE5;c t&#xEC;nh tr&#x1EA1;ng thi&#x1EBF;u thu&#x1ED1;c, v&#x1EAD;t t&#x1B0; y t&#x1EBF;" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102220824174529519" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/thu-tuong-yeu-cau-nghien-cuu-kien-nghi-cua-chuyen-gia-ve-khac-phuc-tinh-trang-thieu-thuoc-vat-tu-y-te-102220824174529519.htm" title="Th&#x1EE7; t&#x1B0;&#x1EDB;ng y&#xEA;u c&#x1EA7;u nghi&#xEA;n c&#x1EE9;u ki&#x1EBF;n ngh&#x1ECB; c&#x1EE7;a chuy&#xEA;n gia v&#x1EC1; kh&#x1EAF;c ph&#x1EE5;c t&#xEC;nh tr&#x1EA1;ng thi&#x1EBF;u thu&#x1ED1;c, v&#x1EAD;t t&#x1B0; y t&#x1EBF;">Th&#x1EE7; t&#x1B0;&#x1EDB;ng y&#xEA;u c&#x1EA7;u nghi&#xEA;n c&#x1EE9;u ki&#x1EBF;n ngh&#x1ECB; c&#x1EE7;a chuy&#xEA;n gia v&#x1EC1; kh&#x1EAF;c ph&#x1EE5;c t&#xEC;nh tr&#x1EA1;ng thi&#x1EBF;u thu&#x1ED1;c, v&#x1EAD;t t&#x1B0; y t&#x1EBF;</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chi-dao-quyet-dinh-cua-chinh-phu-thu-tuong-chinh-phu.htm" title="Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7;">Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; </a>
                        <span class="time-ago box-stream-time" title="8/24/2022 5:59:00 PM">24/08/2022 17:59</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; Ph&#x1EA1;m Minh Ch&#xED;nh y&#xEA;u c&#x1EA7;u Quy&#x1EC1;n B&#x1ED9; tr&#x1B0;&#x1EDF;ng B&#x1ED9; Y t&#x1EBF; nghi&#xEA;n c&#x1EE9;u, tham kh&#x1EA3;o ki&#x1EBF;n ngh&#x1ECB; c&#x1EE7;a chuy&#xEA;n gia t&#x1EA1;i b&#xE1;o c&#xE1;o k&#x1EBF;t qu&#x1EA3; t&#x1ECD;a &#x111;&#xE0;m c&#xE1;c gi&#x1EA3;i ph&#xE1;p kh&#x1EAF;c ph&#x1EE5;c t&#xEC;nh tr&#x1EA1;ng thi&#x1EBF;u thu&#x1ED1;c, v&#x1EAD;t t&#x1B0; y t&#x1EBF; &#x111;&#x1EC3; ch&#x1EC9; &#x111;&#x1EA1;o th&#x1EF1;c hi&#x1EC7;n c&#xE1;c gi&#x1EA3;i ph&#xE1;p ph&#xF9; h&#x1EE3;p, k&#x1ECB;p th&#x1EDD;i kh&#x1EAF;c ph&#x1EE5;c t&#xEC;nh tr&#x1EA1;ng tr&#xEA;n t&#x1EA1;i c&#xE1;c c&#x1A1; s&#x1EDF; kh&#xE1;m ch&#x1EEF;a b&#x1EC7;nh.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102220715110232185">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/ba-dao-hong-lan-duoc-giao-quyen-bo-truong-bo-y-te-102220715110232185.htm" title="B&#xE0; &#x110;&#xE0;o H&#x1ED3;ng Lan &#x111;&#x1B0;&#x1EE3;c giao quy&#x1EC1;n B&#x1ED9; tr&#x1B0;&#x1EDF;ng B&#x1ED9; Y t&#x1EBF;" data-id="102220715110232185">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2022/7/15/tp-daohonglan-psrh-1657857542775238663402-14-0-302-460-crop-1657857560598234396476.jpg" alt="B&#xE0; &#x110;&#xE0;o H&#x1ED3;ng Lan &#x111;&#x1B0;&#x1EE3;c giao quy&#x1EC1;n B&#x1ED9; tr&#x1B0;&#x1EDF;ng B&#x1ED9; Y t&#x1EBF;" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102220715110232185" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/ba-dao-hong-lan-duoc-giao-quyen-bo-truong-bo-y-te-102220715110232185.htm" title="B&#xE0; &#x110;&#xE0;o H&#x1ED3;ng Lan &#x111;&#x1B0;&#x1EE3;c giao quy&#x1EC1;n B&#x1ED9; tr&#x1B0;&#x1EDF;ng B&#x1ED9; Y t&#x1EBF;">B&#xE0; &#x110;&#xE0;o H&#x1ED3;ng Lan &#x111;&#x1B0;&#x1EE3;c giao quy&#x1EC1;n B&#x1ED9; tr&#x1B0;&#x1EDF;ng B&#x1ED9; Y t&#x1EBF;</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chi-dao-quyet-dinh-cua-chinh-phu-thu-tuong-chinh-phu.htm" title="Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7;">Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; </a>
                        <span class="time-ago box-stream-time" title="7/15/2022 11:01:00 AM">15/07/2022 11:01</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; Ph&#x1EA1;m Minh Ch&#xED;nh v&#x1EEB;a k&#xFD; Quy&#x1EBF;t &#x111;&#x1ECB;nh s&#x1ED1; 839/Q&#x110;-TTg giao quy&#x1EC1;n B&#x1ED9; tr&#x1B0;&#x1EDF;ng B&#x1ED9; Y t&#x1EBF; &#x111;&#x1ED1;i v&#x1EDB;i &#x111;&#x1ED3;ng ch&#xED; &#x110;&#xE0;o H&#x1ED3;ng Lan, &#x1EE6;y vi&#xEA;n Trung &#x1B0;&#x1A1;ng &#x110;&#x1EA3;ng, B&#xED; th&#x1B0; Ban c&#xE1;n s&#x1EF1; &#x111;&#x1EA3;ng B&#x1ED9; Y t&#x1EBF;.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102220702104912886">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/day-nhanh-hon-nua-tien-do-tiem-vaccine-phong-chong-covid-19-102220702104912886.htm" title="&#x110;&#x1EA9;y nhanh h&#x1A1;n n&#x1EEF;a ti&#x1EBF;n &#x111;&#x1ED9; ti&#xEA;m vaccine ph&#xF2;ng ch&#x1ED1;ng COVID-19" data-id="102220702104912886">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2022/7/2/h2-111202113-16567336855021452159092-43-0-812-1230-crop-16567336998321318688153.jpg" alt="&#x110;&#x1EA9;y nhanh h&#x1A1;n n&#x1EEF;a ti&#x1EBF;n &#x111;&#x1ED9; ti&#xEA;m vaccine ph&#xF2;ng ch&#x1ED1;ng COVID-19" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102220702104912886" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/day-nhanh-hon-nua-tien-do-tiem-vaccine-phong-chong-covid-19-102220702104912886.htm" title="&#x110;&#x1EA9;y nhanh h&#x1A1;n n&#x1EEF;a ti&#x1EBF;n &#x111;&#x1ED9; ti&#xEA;m vaccine ph&#xF2;ng ch&#x1ED1;ng COVID-19">&#x110;&#x1EA9;y nhanh h&#x1A1;n n&#x1EEF;a ti&#x1EBF;n &#x111;&#x1ED9; ti&#xEA;m vaccine ph&#xF2;ng ch&#x1ED1;ng COVID-19</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chi-dao-quyet-dinh-cua-chinh-phu-thu-tuong-chinh-phu.htm" title="Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7;">Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; </a>
                        <span class="time-ago box-stream-time" title="7/2/2022 3:12:00 PM">02/07/2022 15:12</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; y&#xEA;u c&#x1EA7;u B&#x1ED9; Y t&#x1EBF; t&#x103;ng c&#x1B0;&#x1EDD;ng c&#xF4;ng t&#xE1;c qu&#x1EA3;n l&#xFD;, ch&#x1EC9; &#x111;&#x1EA1;o, h&#x1B0;&#x1EDB;ng d&#x1EAB;n &#x111;&#x1EC3; &#x111;&#x1EA9;y nhanh h&#x1A1;n n&#x1EEF;a ti&#x1EBF;n &#x111;&#x1ED9; ti&#xEA;m vaccine ph&#xF2;ng ch&#x1ED1;ng COVID-19.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102220610191742748">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/day-manh-kiem-tra-thanh-tra-viec-xu-ly-chat-thai-y-te-102220610191742748.htm" title="&#x110;&#x1EA9;y m&#x1EA1;nh ki&#x1EC3;m tra, thanh tra vi&#x1EC7;c x&#x1EED; l&#xFD; ch&#x1EA5;t th&#x1EA3;i y t&#x1EBF;" data-id="102220610191742748">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2022/6/10/11-6-8-1654862759557924236688-29-0-593-902-crop-1654862767528474815181.jpg" alt="&#x110;&#x1EA9;y m&#x1EA1;nh ki&#x1EC3;m tra, thanh tra vi&#x1EC7;c x&#x1EED; l&#xFD; ch&#x1EA5;t th&#x1EA3;i y t&#x1EBF;" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102220610191742748" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/day-manh-kiem-tra-thanh-tra-viec-xu-ly-chat-thai-y-te-102220610191742748.htm" title="&#x110;&#x1EA9;y m&#x1EA1;nh ki&#x1EC3;m tra, thanh tra vi&#x1EC7;c x&#x1EED; l&#xFD; ch&#x1EA5;t th&#x1EA3;i y t&#x1EBF;">&#x110;&#x1EA9;y m&#x1EA1;nh ki&#x1EC3;m tra, thanh tra vi&#x1EC7;c x&#x1EED; l&#xFD; ch&#x1EA5;t th&#x1EA3;i y t&#x1EBF;</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chi-dao-quyet-dinh-cua-chinh-phu-thu-tuong-chinh-phu.htm" title="Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7;">Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; </a>
                        <span class="time-ago box-stream-time" title="6/10/2022 7:24:00 PM">10/06/2022 19:24</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Ph&#xF3; Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; V&#x169; &#x110;&#x1EE9;c &#x110;am y&#xEA;u c&#x1EA7;u B&#x1ED9; Y t&#x1EBF; &#x111;&#x1EA9;y m&#x1EA1;nh th&#x1EF1;c hi&#x1EC7;n &#x111;&#xF4;n &#x111;&#x1ED1;c, ki&#x1EC3;m tra, thanh tra vi&#x1EC7;c x&#x1EED; l&#xFD; ch&#x1EA5;t th&#x1EA3;i t&#x1EA1;i c&#xE1;c c&#x1A1; s&#x1EDF; y t&#x1EBF;, nh&#x1EA5;t l&#xE0; t&#x1EA1;i c&#xE1;c &#x111;&#x1ECB;a ph&#x1B0;&#x1A1;ng, b&#x1EA3;o &#x111;&#x1EA3;m vi&#x1EC7;c x&#x1EED; l&#xFD; ch&#x1EA5;t th&#x1EA3;i y t&#x1EBF; &#x111;&#xE1;p &#x1EE9;ng y&#xEA;u c&#x1EA7;u v&#x1EC1; m&#xF4;i tr&#x1B0;&#x1EDD;ng theo quy &#x111;&#x1ECB;nh.
                        </p>
                    </div>
                </div>
                <div class="box-stream-item" data-id="102220607182604569">
                    <a class="box-stream-link-with-avatar" href="https://baochinhphu.vn/giao-phu-trach-dieu-hanh-bo-y-te-phe-chuan-bai-nhiem-chu-tich-ubnd-tp-ha-noi-102220607182604569.htm" title="Giao ph&#x1EE5; tr&#xE1;ch &#x111;i&#x1EC1;u h&#xE0;nh B&#x1ED9; Y t&#x1EBF;, ph&#xEA; chu&#x1EA9;n b&#xE3;i nhi&#x1EC7;m Ch&#x1EE7; t&#x1ECB;ch UBND TP H&#xE0; N&#x1ED9;i" data-id="102220607182604569">
                        <img data-type="avatar" src="https://bcp.cdnchinhphu.vn/zoom/270_169/334894974524682240/2022/6/7/do-xuan-tuyen-6670-16546004228191564690922-39-0-1289-2000-crop-16546004465291365926055.jpeg" alt="Giao ph&#x1EE5; tr&#xE1;ch &#x111;i&#x1EC1;u h&#xE0;nh B&#x1ED9; Y t&#x1EBF;, ph&#xEA; chu&#x1EA9;n b&#xE3;i nhi&#x1EC7;m Ch&#x1EE7; t&#x1ECB;ch UBND TP H&#xE0; N&#x1ED9;i" data-width="value-news-width" data-height="value-news-height" class="box-stream-avatar">
                    </a>
                    <div class="box-stream-content">
                        <h2>
                            <a data-type="title" data-linktype="newsdetail" data-id="102220607182604569" class="box-stream-link-title" data-newstype="0" href="https://baochinhphu.vn/giao-phu-trach-dieu-hanh-bo-y-te-phe-chuan-bai-nhiem-chu-tich-ubnd-tp-ha-noi-102220607182604569.htm" title="Giao ph&#x1EE5; tr&#xE1;ch &#x111;i&#x1EC1;u h&#xE0;nh B&#x1ED9; Y t&#x1EBF;, ph&#xEA; chu&#x1EA9;n b&#xE3;i nhi&#x1EC7;m Ch&#x1EE7; t&#x1ECB;ch UBND TP H&#xE0; N&#x1ED9;i">Giao ph&#x1EE5; tr&#xE1;ch &#x111;i&#x1EC1;u h&#xE0;nh B&#x1ED9; Y t&#x1EBF;, ph&#xEA; chu&#x1EA9;n b&#xE3;i nhi&#x1EC7;m Ch&#x1EE7; t&#x1ECB;ch UBND TP H&#xE0; N&#x1ED9;i</a>
                        </h2>
                        <a class="box-stream-category" href="https://baochinhphu.vn/chi-dao-quyet-dinh-cua-chinh-phu-thu-tuong-chinh-phu.htm" title="Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7;">Ch&#x1EC9; &#x111;&#x1EA1;o, quy&#x1EBF;t &#x111;&#x1ECB;nh c&#x1EE7;a Ch&#xED;nh ph&#x1EE7; - Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&#xED;nh ph&#x1EE7; </a>
                        <span class="time-ago box-stream-time" title="6/7/2022 7:10:00 PM">07/06/2022 19:10</span>

                        <p data-type="sapo" class="box-stream-sapo">
                            (Chinhphu.vn) - Ph&#xF3; Th&#x1EE7; t&#x1B0;&#x1EDB;ng Th&#x1B0;&#x1EDD;ng tr&#x1EF1;c Ph&#x1EA1;m B&#xEC;nh Minh v&#x1EEB;a k&#xFD; c&#xE1;c quy&#x1EBF;t &#x111;&#x1ECB;nh giao ph&#x1EE5; tr&#xE1;ch &#x111;i&#x1EC1;u h&#xE0;nh B&#x1ED9; Y t&#x1EBF; v&#xE0; ph&#xEA; chu&#x1EA9;n k&#x1EBF;t qu&#x1EA3; b&#xE3;i nhi&#x1EC7;m ch&#x1EE9;c v&#x1EE5; Ch&#x1EE7; t&#x1ECB;ch UBND th&#xE0;nh ph&#x1ED1; H&#xE0; N&#x1ED9;i nhi&#x1EC7;m k&#x1EF3; 2021 - 2026.
                        </p>
                    </div>
                </div>
            </div>
            <div class="layout__loading_item">
                <div class="box-stream-link-with-avatar news-image-load loading__animation ">
                </div>
                <div class="box-stream-content">
                    <p class="box-stream-link-title news-title-load loading__animation"></p>
                    <p class="box-stream-sapo news-sapo-load loading__animation"></p>
                </div>
            </div>
            <div class="loadmore">
                <div class="list__center list__viewmore"><a href="javascript:;" rel="nofollow" class="btn">Xem thêm</a></div>
            </div>
        </div>
    </div>
</div>
