@model PhongKhamOnline.Models.ChuyenMonBacSi

@{
    ViewData["Title"] = "Create";
}
<style>
    .btn-back {
        border: 2px solid #007bff; /* Màu viền */
        color: #007bff; /* Màu chữ */
        padding: 10px 20px; /* Kích thước nút */
        border-radius: 5px; /* Bo góc */
        text-decoration: none; /* Bỏ gạch dưới */
    }

        .btn-back:hover {
            background-color: #007bff; /* Màu nền khi hover */
            color: white; /* Màu chữ khi hover */
            border-color: #0056b3; /* Màu viền khi hover */
        }

        .btn-back:focus {
            outline: none; /* Bỏ outline khi focus */
        }
</style>

<h2>Thêm mới chuyên môn bác sĩ</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="TenChuyenMon" class="control-label">Tên Chuyên Môn</label>
        <input asp-for="TenChuyenMon" class="form-control" />
        <span asp-validation-for="TenChuyenMon" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Lưu 
    </button>
    <a asp-action="Index" class="btn btn-danger">
        <i class="fas fa-times"></i> Hủy
    </a>
</form>
<div>
    <br />
    <a asp-action="Index" class="btn-back mt-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
